@import './components/_btn.scss';
@import './components/_nav.scss';
@import './components/_footer.scss';

body
{
    background-color: bisque;
    font-size: 25px;

    header
    {
        text-align: center;
        
    }

    main
    {
        margin: 0 10%;
        h2
        {
            text-align: center;
        }
        .bar
        {
            margin: 5em 0;
            border : 3px solid black;
            padding: 15px;
            border-radius: 15px;

            &:hover
            {
                transition: 1.2s;
                box-shadow: 10px 10px 10px 0 black;
            }

            .link
            {
                display: flex;
                justify-content: space-evenly;
            }
        }
    }

    
}