body
{
    background-color: bisque;
    font-size: 25px;
    nav
    {
        display: flex;
        justify-content: space-evenly;
    }
    header
    {
        text-align: center;
    }

    main
    {
        margin: 0 10%;
        h2{
            text-align: center;
        }
        .bar{
            margin: 5em 0;
            .link{
                display: flex;
                justify-content: space-evenly;
            }
        }
    }

    footer
    {
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        padding: 2em 0;
    }
}